.main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    width: 60%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
  
.li {
    margin: 15px;
}

.li img {
    height: 300px;
    width: auto;
    border-radius: 50%;
}

.li:hover {
    filter: drop-shadow(ivory -10px 0px);
    transition: 0.2s ease-in-out;
}